**/node_modules
node_modules
.direnv
.env
.env.*
!.env.example

# Foundry artifacts
packages/stylus/contracts/aa/out
packages/stylus/contracts/aa/cache
packages/stylus/contracts/aa/broadcast

# Alto bundler generated config
packages/stylus/aa/.env
